* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

header a .logo img {
  width: 80px;
}
header .navbar nav a {
  font-size: 14px;
  font-weight: 600;
  color: #191919;
  padding-right: 30px;
}
header .navbar nav a:hover {
  color: #b61984;
}
header .navbar .navbar__contact a:nth-child(1) {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background: #b61984;
  padding: 15px 20px;
  border: 1px solid #b61984;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 0 0 3em #b61984 inset;
}
header .navbar .navbar__contact a:nth-child(1):hover {
  background: #f5f9fe;
  color: #b61984;
}
header .navbar .navbar__contact a:nth-child(1):hover {
  color: #b61984;
  box-shadow: 0 0 0 1px #b61984 inset;
  transition-duration: 0.3s;
}
header .navbar .navbar__contact a .fa-brands {
  color: #181818;
  padding-left: 5px;
}
header .navbar .navbar__contact a .fa-brands:hover {
  color: #b61984;
}